{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Welcome to MeldrPro!
    {% include 'navbar.html.twig' %}{% endblock %}

{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    >
</head>
<body>

<div class="container mt-4">
    <h1>Welkom op de Homepagina</h1>
    <p>Home page</p>
</div>


</body>
</html>
{% endblock %}