{% extends 'base.html.twig' %}

{% block title %}Mijn Meldingen{% endblock %}

{% block body %}
<h1>Mijn Meldingen</h1>

{# Knop voor terug naar alle meldingen #}
<a href="{{ path('meldingen_overzicht') }}" class="btn btn-primary mb-3">Terug naar Alle Meldingen</a>

{# Meldingstabel #}
<table class="table">
  <thead>
  <tr>
    <th scope="col">Melding ID</th>
    <th scope="col">Gebruiker ID</th>
    <th scope="col">Type Melding</th>
    <th scope="col">Inhoud</th>
    <th scope="col">Datum/Tijd</th>
  </tr>
  </thead>
  <tbody>
  {% for melding in meldingen %}
  <tr>
    <td>{{ melding.meldingid }}</td>
    <td>{{ melding.user_id }}</td>
    <td>{{ melding.type_melding }}</td>
    <td>{{ melding.inhoud }}</td>
    <td>{{ melding.datumTijd|date('Y-m-d H:i:s') }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
