{% extends 'base.html.twig' %}

{% block title %}Mijn Meldingen{% endblock %}

{% block body %}
<h1>Mijn Meldingen</h1>

{# Knop voor terug naar alle meldingen #}
<a href="{{ path('meldingen_overzicht') }}" class="btn btn-primary mb-3">Terug naar alle meldingen</a>

{# Meldingstabel #}
<table class="table">
  <thead>
  <tr>
    <th scope="col">Melding ID</th>
    <th scope="col">Type Melding</th>
    <th scope="col">Inhoud</th>
    <th scope="col">Datum/Tijd</th>
    <th scope="col">Afbeelding</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  {% for melding in meldingen %}
  <tr>
    <td>{{ melding.melding_id }}</td>
    <td>{{ melding.categorie.naam }}</td>
    <td>{{ melding.inhoud }}</td>
    <td>{{ melding.datumTijd|date('Y-m-d H:i:s') }}</td>
    <td>
      {% if melding.afbeelding_url %}
      <a href="#" class="image-link">
        <img src="{{ asset('/uploads/afbeeldingen/' ~ melding.afbeelding_url) }}" alt="Afbeelding" style="max-width: 100px;">
      </a>
      {% else %}
      Geen afbeelding beschikbaar
      {% endif %}
    </td>
    <td>
      {% if melding.afgehandeld %}
      Done
      {% else %}
      Not done
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
